html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

h1 {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 15vmin;
    text-align: center;
}

h2,
.pullquote,
.back-to-observer,
.quote {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
}

.pullquote {
    width: 100%;
    margin: 1rem 0.4rem;
    padding: 1rem 0;
    border-top: solid .5rem;
    border-bottom: solid .5rem;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

.landing-page {
    height: 100%;
    background-color: #EBEBEB;
    text-align: center;
}

.interactive {
    max-height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    /* height: 100%;
    width: 100%; */
}

.img-container {
    /* height: 70%; */
    width: 100%;
    display: flex;
    padding: 1% 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.interactive.theater{
    background-color: #333333;
    transition: background-color 0.4s 0.2s;
}

.img {
    max-height: 550px;
    max-width: 23%;
    padding: 1% 0.2rem;
    opacity: 0.2;
    transition: opacity 0.4s 0.2s;
    
}
.img.active {
    opacity: 1;
}

.quote {
    width: 98%;
    height: 30vh;
    margin-left: 1%;
    margin-right: 1%;
    border-top: solid .5rem;
    border-bottom: solid .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border-top 0.4s 0.2s,border-bottom 0.4s 0.2s ;
}
.quote.theater{
    border-top: solid white .5rem;
    border-bottom: solid white .5rem;
}

.quote.theater .line{
    color: white;
}


.line {
    transition: color 0.4s 0.2s ;
    display: none;
}

.line.active {
    display: block;
}

article,
footer {
    background-color: #EBEBEB;
}

article p {
    text-indent: 2rem;
    line-height: 1.5;
}

footer {
    font-size: 0.75rem;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

.vertically-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bounded-width {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}
